/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.min.css */
/* Modified by OKAMOTO Shigehiro */
*,::before,::after{box-sizing:border-box;border-style:solid;border-width:0;min-width:0}html{line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}body{margin:0}main{display:block}p,table,blockquote,address,pre,iframe,form,figure,dl{margin:0}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;margin:0}ul,ol{margin:0;padding:0;list-style:none}dt{font-weight:700}dd{margin-left:0}hr{box-sizing:content-box;height:0;overflow:visible;border-top-width:1px;margin:0;clear:both;color:inherit}pre{font-family:monospace,monospace;font-size:inherit}address{font-style:inherit}a{background-color:transparent;font-size:inherit}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}svg,img,embed,object,iframe{vertical-align:bottom}button,input,optgroup,select,textarea{-webkit-appearance:none;appearance:none;vertical-align:middle;color:inherit;font:inherit;background:transparent;padding:0;margin:0;border-radius:0;text-align:inherit;text-transform:inherit}button,[type="button"],[type="reset"],[type="submit"]{cursor:pointer}button:disabled,[type="button"]:disabled,[type="reset"]:disabled,[type="submit"]:disabled{cursor:default}:-moz-focusring{outline:auto}select:disabled{opacity:inherit}option{padding:0}fieldset{margin:0;padding:0;min-width:0}legend{padding:0}progress{vertical-align:baseline}textarea{overflow:auto}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type="number"]{-moz-appearance:textfield}label[for]{cursor:pointer}details{display:block}summary{display:list-item}[contenteditable]:focus{outline:auto}table{border-color:inherit;border-collapse:collapse}caption{text-align:left}td,th{vertical-align:top;padding:0}th{text-align:left;font-weight:700}

:root {
    --font-black: #222;
    --background-white: #fbfaf7;

    --font-gray: #aaa;
    --background-gray: #f5f5f5;

    --primary-color: #88C273;
    --secondary-color: #D4BDAC;
    --tertiary-color: #536493;

    --root-background-color: #e2e6ef ;

    line-height: 1.5;
}

body {
    background-color: var(--root-background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: var(--font-black);
    line-height: 1;
    margin-block: .5em;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}

p {
    margin-block: 0.5em;
}

a {
    text-decoration: underline;
}

#container {
    background-color: var(--background-white);
    border-radius: 0.5em;
    padding: 1rem;
    max-width: 1500px;
    min-height: calc(100dvh - 2rem);
    margin: 1rem auto;
}

#control {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    button {
        background: var(--background-gray);
        border: 2px solid var(--font-gray);
        padding: .25em 1em;
        border-radius: .375em;
        transition: border 250ms ease-out, background 250ms ease;
    }

    button:hover {
        border: 2px solid var(--primary-color);
        transition: border 100ms ease-in;
    }

    button:disabled {
        background: #ddd;
    }

    #push {
        font-size: 2rem;
    }
    #long-push {
        font-size: 1rem;
    }
}


#status {
    display: flex;
    align-items: center;
    margin-block: 0.5rem;

    svg {
        margin-inline: 0.5rem;
    }

    p {
        margin-block: 0;
    }

    .error {
        color: red;
    }
}

#spinner {
    --uib-size: 1.5rem;
    --uib-color: black;
    --uib-speed: 2s;
    --uib-bg-opacity: 0;
    height: var(--uib-size);
    width: var(--uib-size);
    transform-origin: center;
    will-change: transform;
    overflow: visible;

    .check {
        display: none;
    }
    .car, .track {
        display: none;
        fill: none;
        stroke: var(--uib-color);
        transition: stroke 0.5s ease;
    }

    .car {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        will-change: stroke-dasharray, stroke-dashoffset;
    }

    .track {
        opacity: var(--uib-bg-opacity);
    }
}

#spinner.animate {
    animation: rotate var(--uib-speed) linear infinite;

    .car, .track {
        display: unset;
    }
    .car {
        animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;

    }
}

#spinner.check .check{
    display: unset;
}


@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}

@keyframes stretch {
    0% {
      stroke-dasharray: 0, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 75, 150;
      stroke-dashoffset: -25;
    }
    100% {
      stroke-dashoffset: -100;
    }
}
